.git
.dart_tool
build/*
!build/web
android
ios
macos
linux
windows
test
tool/*
!tool/build_web.sh
integration_test
fastlane
docs
packages/synctv_opaque/Cargo.toml
packages/synctv_opaque/Cargo.lock
packages/synctv_opaque/src
packages/synctv_opaque/hook
packages/synctv_opaque/test
packages/synctv_opaque/tool
