#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"
SYNCTV_ENTITLEMENTS=Flutter/Generated.entitlements
SYNCTV_CODE_SIGN_IDENTITY=Apple Development
SYNCTV_CODE_SIGN_STYLE=Automatic
SYNCTV_DEVELOPMENT_TEAM=
SYNCTV_PROVISIONING_PROFILE_SPECIFIER=
#include? "Signing.xcconfig"
CODE_SIGN_IDENTITY=$(SYNCTV_CODE_SIGN_IDENTITY)
CODE_SIGN_STYLE=$(SYNCTV_CODE_SIGN_STYLE)
DEVELOPMENT_TEAM=$(SYNCTV_DEVELOPMENT_TEAM)
PROVISIONING_PROFILE_SPECIFIER=$(SYNCTV_PROVISIONING_PROFILE_SPECIFIER)
