#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"
SYNC_TV_ENTITLEMENTS=Flutter/Generated.entitlements
SYNC_TV_CODE_SIGN_IDENTITY=Apple Development
SYNC_TV_CODE_SIGN_STYLE=Automatic
SYNC_TV_DEVELOPMENT_TEAM=
SYNC_TV_PROVISIONING_PROFILE_SPECIFIER=
#include? "Signing.xcconfig"
CODE_SIGN_IDENTITY=$(SYNC_TV_CODE_SIGN_IDENTITY)
CODE_SIGN_STYLE=$(SYNC_TV_CODE_SIGN_STYLE)
DEVELOPMENT_TEAM=$(SYNC_TV_DEVELOPMENT_TEAM)
PROVISIONING_PROFILE_SPECIFIER=$(SYNC_TV_PROVISIONING_PROFILE_SPECIFIER)
